html,
body {
  padding: 0;
  margin: 0;
  font-family: "LXGW WenKai Screen", "LXGWWenKai", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@screen lg {
  .more-list> :nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .more-list> :nth-last-child(-n+2)::after {
    display: none;
  }
}

img {
  transition: 0.5s;
}

.tk-expand {
  background-color: rgb(245, 245, 245) !important;
  border-radius: 15px;
}
.dark .tk-expand {
  background-color: rgb(23, 23, 23) !important;
}


[data-theme='light'] #aside-content .card-widget#card-wechat {
    background: #57bd6a !important;
}

#aside-content .card-widget#card-wechat {
    background: var(--card-bg);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    cursor: pointer !important;
    border: none;
    height: 110px;
}

@media screen and (min-width: 1300px) {
    #aside-content .card-widget {
        margin-top: 1rem;
    }
}

#flip-wrapper {
    -webkit-perspective: 1000;
    perspective: 1000;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#flip-wrapper:hover #flip-content {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#flip-content {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: cubic-bezier(0, 0, 0, 1.29) 0.3s;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
}

.back.face {
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}
